openapi: 3.1.0
info:
  title: Azure Container Apps Authentication Managed Environments API
  description: Azure Container Apps allows you to run microservices and containerized applications on a serverless platform. The API provides operations for managing container apps, managed environments, revisions, jobs, and related resources through Azure Resource Manager.
  version: '2023-05-01'
  contact:
    name: Microsoft Azure
    url: https://azure.microsoft.com/en-us/products/container-apps
servers:
- url: https://management.azure.com
  description: Azure Resource Manager endpoint
security:
- azure_auth:
  - user_impersonation
tags:
- name: Managed Environments
  description: Manage container app environments
paths:
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/managedEnvironments:
    get:
      operationId: ManagedEnvironments_ListByResourceGroup
      summary: Azure Container Apps List Managed Environments
      description: Get all the Managed Environments in a resource group.
      tags:
      - Managed Environments
      parameters:
      - $ref: '#/components/parameters/SubscriptionId'
      - $ref: '#/components/parameters/ResourceGroupName'
      - $ref: '#/components/parameters/ApiVersion'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagedEnvironmentCollection'
              examples:
                ManagedEnvironments_ListByResourceGroup200Example:
                  summary: Default ManagedEnvironments_ListByResourceGroup 200 response
                  x-microcks-default: true
                  value:
                    id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/my-resource-group/providers/Microsoft.App/containerApps/my-container-app
                    name: my-container-app
                    type: Microsoft.App/containerApps
                    location: eastus
                    properties:
                      provisioningState: Succeeded
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/managedEnvironments/{environmentName}
  : get:
      operationId: ManagedEnvironments_Get
      summary: Azure Container Apps Get a Managed Environment
      description: Get the properties of a Managed Environment used to host container apps.
      tags:
      - Managed Environments
      parameters:
      - $ref: '#/components/parameters/SubscriptionId'
      - $ref: '#/components/parameters/ResourceGroupName'
      - name: environmentName
        in: path
        required: true
        schema:
          type: string
        example: my-container-app
      - $ref: '#/components/parameters/ApiVersion'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagedEnvironment'
              examples:
                ManagedEnvironments_Get200Example:
                  summary: Default ManagedEnvironments_Get 200 response
                  x-microcks-default: true
                  value:
                    id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/my-resource-group/providers/Microsoft.App/containerApps/my-container-app
                    name: my-container-app
                    type: Microsoft.App/containerApps
                    location: eastus
                    properties:
                      provisioningState: Succeeded
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      operationId: ManagedEnvironments_CreateOrUpdate
      summary: Azure Container Apps Create or Update a Managed Environment
      description: Creates or updates a Managed Environment.
      tags:
      - Managed Environments
      parameters:
      - $ref: '#/components/parameters/SubscriptionId'
      - $ref: '#/components/parameters/ResourceGroupName'
      - name: environmentName
        in: path
        required: true
        schema:
          type: string
        example: my-container-app
      - $ref: '#/components/parameters/ApiVersion'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ManagedEnvironment'
      responses:
        '200':
          description: Environment updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagedEnvironment'
              examples:
                ManagedEnvironments_CreateOrUpdate200Example:
                  summary: Default ManagedEnvironments_CreateOrUpdate 200 response
                  x-microcks-default: true
                  value:
                    id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/my-resource-group/providers/Microsoft.App/containerApps/my-container-app
                    name: my-container-app
                    type: Microsoft.App/containerApps
                    location: eastus
                    properties:
                      provisioningState: Succeeded
        '201':
          description: Environment created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagedEnvironment'
              examples:
                ManagedEnvironments_CreateOrUpdate201Example:
                  summary: Default ManagedEnvironments_CreateOrUpdate 201 response
                  x-microcks-default: true
                  value:
                    id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/my-resource-group/providers/Microsoft.App/containerApps/my-container-app
                    name: my-container-app
                    type: Microsoft.App/containerApps
                    location: eastus
                    properties:
                      provisioningState: Succeeded
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      operationId: ManagedEnvironments_Delete
      summary: Azure Container Apps Delete a Managed Environment
      description: Delete a Managed Environment.
      tags:
      - Managed Environments
      parameters:
      - $ref: '#/components/parameters/SubscriptionId'
      - $ref: '#/components/parameters/ResourceGroupName'
      - name: environmentName
        in: path
        required: true
        schema:
          type: string
        example: my-container-app
      - $ref: '#/components/parameters/ApiVersion'
      responses:
        '200':
          description: Environment deleted
        '202':
          description: Delete request accepted
        '204':
          description: Environment does not exist
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    ManagedEnvironmentCollection:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/ManagedEnvironment'
        nextLink:
          type: string
          readOnly: true
    ManagedEnvironment:
      type: object
      properties:
        id:
          type: string
          readOnly: true
        name:
          type: string
          readOnly: true
        type:
          type: string
          readOnly: true
        location:
          type: string
        tags:
          type: object
          additionalProperties:
            type: string
        properties:
          type: object
          properties:
            provisioningState:
              type: string
              readOnly: true
              enum:
              - Succeeded
              - Failed
              - Canceled
              - Waiting
              - InitializationInProgress
              - InfrastructureSetupInProgress
              - InfrastructureSetupComplete
              - ScheduledForDelete
              - UpgradeRequested
              - UpgradeFailed
            daprAIInstrumentationKey:
              type: string
            daprAIConnectionString:
              type: string
            vnetConfiguration:
              type: object
              properties:
                internal:
                  type: boolean
                infrastructureSubnetId:
                  type: string
                dockerBridgeCidr:
                  type: string
                platformReservedCidr:
                  type: string
                platformReservedDnsIP:
                  type: string
            defaultDomain:
              type: string
              readOnly: true
            staticIp:
              type: string
              readOnly: true
            appLogsConfiguration:
              type: object
              properties:
                destination:
                  type: string
                logAnalyticsConfiguration:
                  type: object
                  properties:
                    customerId:
                      type: string
                    sharedKey:
                      type: string
            zoneRedundant:
              type: boolean
            customDomainConfiguration:
              type: object
              properties:
                dnsSuffix:
                  type: string
                certificateValue:
                  type: string
                  format: byte
                certificatePassword:
                  type: string
                customDomainVerificationId:
                  type: string
                  readOnly: true
                expirationDate:
                  type: string
                  format: date-time
                  readOnly: true
                thumbprint:
                  type: string
                  readOnly: true
                subjectName:
                  type: string
                  readOnly: true
            workloadProfiles:
              type: array
              items:
                type: object
                properties:
                  name:
                    type: string
                  workloadProfileType:
                    type: string
                  minimumCount:
                    type: integer
                  maximumCount:
                    type: integer
            infrastructureResourceGroup:
              type: string
              readOnly: true
            peerAuthentication:
              type: object
              properties:
                mtls:
                  type: object
                  properties:
                    enabled:
                      type: boolean
  parameters:
    ResourceGroupName:
      name: resourceGroupName
      in: path
      required: true
      description: The name of the resource group.
      schema:
        type: string
    ApiVersion:
      name: api-version
      in: query
      required: true
      description: Client API version.
      schema:
        type: string
        default: '2023-05-01'
    SubscriptionId:
      name: subscriptionId
      in: path
      required: true
      description: The Azure subscription ID.
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: Impersonate your user account
