openapi: 3.1.0
info:
  title: Azure Container Apps Authentication API
  description: Azure Container Apps allows you to run microservices and containerized applications on a serverless platform. The API provides operations for managing container apps, managed environments, revisions, jobs, and related resources through Azure Resource Manager.
  version: '2023-05-01'
  contact:
    name: Microsoft Azure
    url: https://azure.microsoft.com/en-us/products/container-apps
servers:
- url: https://management.azure.com
  description: Azure Resource Manager endpoint
security:
- azure_auth:
  - user_impersonation
tags:
- name: Authentication
  description: Manage container app authentication
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/containerApps/{containerAppName}/authConfigs
  : get:
      operationId: ContainerAppsAuthConfigs_ListByContainerApp
      summary: Azure Container Apps List Auth Configs
      description: Get the Container App AuthConfigs in a given Container App.
      tags:
      - Authentication
      parameters:
      - $ref: '#/components/parameters/SubscriptionId'
      - $ref: '#/components/parameters/ResourceGroupName'
      - name: containerAppName
        in: path
        required: true
        schema:
          type: string
        example: my-container-app
      - $ref: '#/components/parameters/ApiVersion'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/AuthConfig'
                  nextLink:
                    type: string
              examples:
                ContainerAppsAuthConfigs_ListByContainerApp200Example:
                  summary: Default ContainerAppsAuthConfigs_ListByContainerApp 200 response
                  x-microcks-default: true
                  value:
                    id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/my-resource-group/providers/Microsoft.App/containerApps/my-container-app
                    name: my-container-app
                    type: Microsoft.App/containerApps
                    location: eastus
                    properties:
                      provisioningState: Succeeded
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  parameters:
    ResourceGroupName:
      name: resourceGroupName
      in: path
      required: true
      description: The name of the resource group.
      schema:
        type: string
    SubscriptionId:
      name: subscriptionId
      in: path
      required: true
      description: The Azure subscription ID.
      schema:
        type: string
    ApiVersion:
      name: api-version
      in: query
      required: true
      description: Client API version.
      schema:
        type: string
        default: '2023-05-01'
  schemas:
    AuthConfig:
      type: object
      properties:
        id:
          type: string
          readOnly: true
        name:
          type: string
          readOnly: true
        type:
          type: string
          readOnly: true
        properties:
          type: object
          properties:
            platform:
              type: object
              properties:
                enabled:
                  type: boolean
                runtimeVersion:
                  type: string
            globalValidation:
              type: object
              properties:
                unauthenticatedClientAction:
                  type: string
                  enum:
                  - RedirectToLoginPage
                  - AllowAnonymous
                  - Return401
                  - Return403
                redirectToProvider:
                  type: string
            identityProviders:
              type: object
              properties:
                azureActiveDirectory:
                  type: object
                  properties:
                    enabled:
                      type: boolean
                    registration:
                      type: object
                      properties:
                        openIdIssuer:
                          type: string
                        clientId:
                          type: string
                        clientSecretSettingName:
                          type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: Impersonate your user account
