openapi: 3.1.0
info:
  title: Azure Container Apps Authentication Revisions API
  description: Azure Container Apps allows you to run microservices and containerized applications on a serverless platform. The API provides operations for managing container apps, managed environments, revisions, jobs, and related resources through Azure Resource Manager.
  version: '2023-05-01'
  contact:
    name: Microsoft Azure
    url: https://azure.microsoft.com/en-us/products/container-apps
servers:
- url: https://management.azure.com
  description: Azure Resource Manager endpoint
security:
- azure_auth:
  - user_impersonation
tags:
- name: Revisions
  description: Manage container app revisions
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/containerApps/{containerAppName}/revisions
  : get:
      operationId: ContainerAppsRevisions_ListRevisions
      summary: Azure Container Apps List Revisions
      description: Get the Revisions for a given Container App.
      tags:
      - Revisions
      parameters:
      - $ref: '#/components/parameters/SubscriptionId'
      - $ref: '#/components/parameters/ResourceGroupName'
      - name: containerAppName
        in: path
        required: true
        schema:
          type: string
        example: my-container-app
      - $ref: '#/components/parameters/ApiVersion'
      - name: $filter
        in: query
        schema:
          type: string
        example: example-value
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RevisionCollection'
              examples:
                ContainerAppsRevisions_ListRevisions200Example:
                  summary: Default ContainerAppsRevisions_ListRevisions 200 response
                  x-microcks-default: true
                  value:
                    id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/my-resource-group/providers/Microsoft.App/containerApps/my-container-app
                    name: my-container-app
                    type: Microsoft.App/containerApps
                    location: eastus
                    properties:
                      provisioningState: Succeeded
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/containerApps/{containerAppName}/revisions/{revisionName}
  : get:
      operationId: ContainerAppsRevisions_GetRevision
      summary: Azure Container Apps Get a Revision
      description: Get a revision of a Container App.
      tags:
      - Revisions
      parameters:
      - $ref: '#/components/parameters/SubscriptionId'
      - $ref: '#/components/parameters/ResourceGroupName'
      - name: containerAppName
        in: path
        required: true
        schema:
          type: string
        example: my-container-app
      - name: revisionName
        in: path
        required: true
        schema:
          type: string
        example: my-container-app
      - $ref: '#/components/parameters/ApiVersion'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Revision'
              examples:
                ContainerAppsRevisions_GetRevision200Example:
                  summary: Default ContainerAppsRevisions_GetRevision 200 response
                  x-microcks-default: true
                  value:
                    id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/my-resource-group/providers/Microsoft.App/containerApps/my-container-app
                    name: my-container-app
                    type: Microsoft.App/containerApps
                    location: eastus
                    properties:
                      provisioningState: Succeeded
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/containerApps/{containerAppName}/revisions/{revisionName}/activate
  : post:
      operationId: ContainerAppsRevisions_ActivateRevision
      summary: Azure Container Apps Activate a Revision
      description: Activates a revision for a Container App.
      tags:
      - Revisions
      parameters:
      - $ref: '#/components/parameters/SubscriptionId'
      - $ref: '#/components/parameters/ResourceGroupName'
      - name: containerAppName
        in: path
        required: true
        schema:
          type: string
        example: my-container-app
      - name: revisionName
        in: path
        required: true
        schema:
          type: string
        example: my-container-app
      - $ref: '#/components/parameters/ApiVersion'
      responses:
        '200':
          description: Revision activated
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/containerApps/{containerAppName}/revisions/{revisionName}/deactivate
  : post:
      operationId: ContainerAppsRevisions_DeactivateRevision
      summary: Azure Container Apps Deactivate a Revision
      description: Deactivates a revision for a Container App.
      tags:
      - Revisions
      parameters:
      - $ref: '#/components/parameters/SubscriptionId'
      - $ref: '#/components/parameters/ResourceGroupName'
      - name: containerAppName
        in: path
        required: true
        schema:
          type: string
        example: my-container-app
      - name: revisionName
        in: path
        required: true
        schema:
          type: string
        example: my-container-app
      - $ref: '#/components/parameters/ApiVersion'
      responses:
        '200':
          description: Revision deactivated
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/containerApps/{containerAppName}/revisions/{revisionName}/restart
  : post:
      operationId: ContainerAppsRevisions_RestartRevision
      summary: Azure Container Apps Restart a Revision
      description: Restarts a revision for a Container App.
      tags:
      - Revisions
      parameters:
      - $ref: '#/components/parameters/SubscriptionId'
      - $ref: '#/components/parameters/ResourceGroupName'
      - name: containerAppName
        in: path
        required: true
        schema:
          type: string
        example: my-container-app
      - name: revisionName
        in: path
        required: true
        schema:
          type: string
        example: my-container-app
      - $ref: '#/components/parameters/ApiVersion'
      responses:
        '200':
          description: Revision restarted
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  parameters:
    ResourceGroupName:
      name: resourceGroupName
      in: path
      required: true
      description: The name of the resource group.
      schema:
        type: string
    ApiVersion:
      name: api-version
      in: query
      required: true
      description: Client API version.
      schema:
        type: string
        default: '2023-05-01'
    SubscriptionId:
      name: subscriptionId
      in: path
      required: true
      description: The Azure subscription ID.
      schema:
        type: string
  schemas:
    Template:
      type: object
      description: Container App versioned application definition.
      properties:
        revisionSuffix:
          type: string
        terminationGracePeriodSeconds:
          type: integer
          format: int64
        initContainers:
          type: array
          items:
            $ref: '#/components/schemas/Container'
        containers:
          type: array
          items:
            $ref: '#/components/schemas/Container'
        scale:
          type: object
          properties:
            minReplicas:
              type: integer
            maxReplicas:
              type: integer
            rules:
              type: array
              items:
                type: object
                properties:
                  name:
                    type: string
                  azureQueue:
                    type: object
                    properties:
                      queueName:
                        type: string
                      queueLength:
                        type: integer
                      auth:
                        type: array
                        items:
                          type: object
                          properties:
                            secretRef:
                              type: string
                            triggerParameter:
                              type: string
                  custom:
                    type: object
                    properties:
                      type:
                        type: string
                      metadata:
                        type: object
                        additionalProperties:
                          type: string
                      auth:
                        type: array
                        items:
                          type: object
                          properties:
                            secretRef:
                              type: string
                            triggerParameter:
                              type: string
                  http:
                    type: object
                    properties:
                      metadata:
                        type: object
                        additionalProperties:
                          type: string
                      auth:
                        type: array
                        items:
                          type: object
                          properties:
                            secretRef:
                              type: string
                            triggerParameter:
                              type: string
                  tcp:
                    type: object
                    properties:
                      metadata:
                        type: object
                        additionalProperties:
                          type: string
                      auth:
                        type: array
                        items:
                          type: object
                          properties:
                            secretRef:
                              type: string
                            triggerParameter:
                              type: string
        volumes:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              storageType:
                type: string
                enum:
                - AzureFile
                - EmptyDir
                - Secret
              storageName:
                type: string
              secrets:
                type: array
                items:
                  type: object
                  properties:
                    secretRef:
                      type: string
                    path:
                      type: string
              mountOptions:
                type: string
        serviceBinds:
          type: array
          items:
            type: object
            properties:
              serviceId:
                type: string
              name:
                type: string
    Container:
      type: object
      properties:
        image:
          type: string
        name:
          type: string
        command:
          type: array
          items:
            type: string
        args:
          type: array
          items:
            type: string
        env:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              value:
                type: string
              secretRef:
                type: string
        resources:
          type: object
          properties:
            cpu:
              type: number
            memory:
              type: string
            ephemeralStorage:
              type: string
              readOnly: true
        volumeMounts:
          type: array
          items:
            type: object
            properties:
              volumeName:
                type: string
              mountPath:
                type: string
              subPath:
                type: string
        probes:
          type: array
          items:
            type: object
            properties:
              failureThreshold:
                type: integer
              httpGet:
                type: object
                properties:
                  host:
                    type: string
                  httpHeaders:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                        value:
                          type: string
                  path:
                    type: string
                  port:
                    type: integer
                  scheme:
                    type: string
                    enum:
                    - HTTP
                    - HTTPS
              initialDelaySeconds:
                type: integer
              periodSeconds:
                type: integer
              successThreshold:
                type: integer
              tcpSocket:
                type: object
                properties:
                  host:
                    type: string
                  port:
                    type: integer
              terminationGracePeriodSeconds:
                type: integer
                format: int64
              timeoutSeconds:
                type: integer
              type:
                type: string
                enum:
                - Liveness
                - Readiness
                - Startup
    RevisionCollection:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/Revision'
        nextLink:
          type: string
          readOnly: true
    Revision:
      type: object
      properties:
        id:
          type: string
          readOnly: true
        name:
          type: string
          readOnly: true
        type:
          type: string
          readOnly: true
        properties:
          type: object
          properties:
            createdTime:
              type: string
              format: date-time
              readOnly: true
            lastActiveTime:
              type: string
              format: date-time
              readOnly: true
            fqdn:
              type: string
              readOnly: true
            template:
              $ref: '#/components/schemas/Template'
            active:
              type: boolean
              readOnly: true
            replicas:
              type: integer
              readOnly: true
            trafficWeight:
              type: integer
              readOnly: true
            provisioningError:
              type: string
              readOnly: true
            healthState:
              type: string
              readOnly: true
              enum:
              - Healthy
              - Unhealthy
              - None
            provisioningState:
              type: string
              readOnly: true
              enum:
              - Provisioning
              - Provisioned
              - Failed
              - Deprovisioning
              - Deprovisioned
            runningState:
              type: string
              readOnly: true
              enum:
              - Running
              - Processing
              - Stopped
              - Degraded
              - Failed
              - Unknown
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: Impersonate your user account
